<div class="portfolio">
  <div class="container">
    <div class="box-title">
      <div class="box-title__symbol">
        <img src="../../../../../images/symbol.png">
      </div>
      <h2 class="box-title__title">We Make This</h2>
      <h4 class="box-title__subtitle">PREPARE TO BE AMAZED</h4>
      <div class="box-title__border"></div>
    </div>
    <div class="portfolio__block">
      <!-- tab button -->
      <div class="portfolio__tab" id="myBtnContainer">
        <button class="btn btn--tab active" onclick="filterSelection('all')"> All</button>
        <button class="" onclick="filterSelection('design')"> Design</button>
        <button class="" onclick="filterSelection('code')"> Code</button>
        <button class="" onclick="filterSelection('photography')"> Photography</button>
        <button class="" onclick="filterSelection('apps')"> Apps</button>
      </div>
      <!-- content grid -->
      <div class="portfolio__grid">
        <div class="cell design">
          <div class="content">
            <div>
              <h3>Awesome Work</h3>
              <p>/Design</p>
            </div>
          </div>
        </div>
        <div class="cell design">
          <div class="content">
            <div>
              <h3>Awesome Work</h3>
              <p>/Design</p>
            </div>
          </div>
        </div>
        <div class="cell design">
          <div class="content">
            <div>
              <h3>Awesome Work</h3>
              <p>/Design</p>
            </div>
          </div>
        </div>
        <div class="cell design">
          <div class="content">
            <div>
              <h3>Awesome Work</h3>
              <p>/Design</p>
            </div>
          </div>
        </div>
        <div class="cell design">
          <div class="content">
            <div>
              <h3>Awesome Work</h3>
              <p>/Code</p>
            </div>
          </div>
        </div>
        <div class="cell design">
          <div class="content">
            <div>
              <h3>Awesome Work</h3>
              <p>/Photography</p>
            </div>
          </div>
        </div>
        <div class="cell design">
          <div class="content">
            <div>
              <h3>Awesome Work</h3>
              <p>/Apps</p>
            </div>
          </div>
        </div>
        <div class="cell design">
          <div class="content">
            <div>
              <h3>Awesome Work</h3>
              <p>/Design</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio__link">
      <a class="btn btn--red" href="#">I want more</a> 
    </div>
  </div>
</div>
