# Add any directories, files, or patterns you don't want to be tracked by version 
.well-known
/.htaccess
__MACOSX
/stats
cgi-bin
error_log
/wp-config.php
cache
/robots.txt
backups
/wp-content/updraft
ai1wm-backups
backups-dup-pro
/wp-config-local.php
/wp-content/uploads/