<div class="clients">
  <div class="container">
    <div class="clients__item">
      <img src="../../../../../../images/Logo 1.png">
    </div>
    <div class="clients__item">
      <img src="../../../../../../images/Logo 2.png">
    </div>
    <div class="clients__item">
      <img src="../../../../../../images/Logo 3.png">
    </div>
    <div class="clients__item">
      <img src="../../../../../../images/Logo 4.png">
    </div>
    <div class="clients__item">
      <img src="../../../../../../images/Logo 5.png">
    </div>
    <div class="clients__item">
      <img src="../../../../../../images/Logo 6.png">
    </div>
  </div>
</div>