<header class="header">
  <div class="container">
    <div class="header__left">
      <img src="../../../../../../images/logo-site.png">
    </div>
    <div class="header__right">
      <ul class="main-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li>
          <button type="submit" value="" class="" name="">
            <span class="icon-search"></span>
          </button>
        </li>
        <li><a class="btn btn--short" href="#">Login</a></li>
      </ul>
      
    </div>
  </div>
</header>