<div class="cta">
  <div class="cta__inner">
    <h2 class="cta__title">Taste the Creativity</h2>
    <h4 class="cta__subtitle">We make awesome graphic and web design</h4>
    <div class="cta__link">
      <a class="btn btn--red" href="#">Get started</a>     
    </div>
  </div>
</div>
