<div class="about">
  <div class="container">
    <div class="box-title">
      <div class="box-title__symbol">
        <img src="../../../../../images/symbol.png">
      </div>
      <h2 class="box-title__title">Some Stuff about us</h2>
      <h4 class="box-title__subtitle">The great team</h4>
      <div class="box-title__border"></div>
      <div class="box-title__desc">
        <p>Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Donec sollicitudin molestie malesuada.</p>
      </div>
    </div>
    <div class="about__content">
        <div class="about__image">
          <img src="../../../../../images/about.png">
        </div>
        <div class="about__text">
          <div class="about__inner">
            <h3 class="box-title__title">Retina Design</h3>
            <div class="about__body">
              <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
              <p>Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Donec sollicitudin molestie malesuada.</p>
            </div>
            <div class="about__link">
              <a class="btn btn--red" href="#">Oreder me one</a> 
            </div>
          </div>
        </div>
    </div>
  </div>
</div>