.blog {
  &__list {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    text-align: center;
  }
  &__date {
    font-size: 13px;
    color: $gray-blue;
    padding: 5px 0 10px;
  }
  &__title {
    font-size: 20px;
    color: $navy-blue;
  }
}
