.box-title {
  text-align: center;
  padding-top: 50px;

  &__symbol {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 35px;
    color: #1a2940;
    margin-bottom: 13px;
  }

  &__subtitle {
    font-size: 15px;
    color: #a8b9c0;
    font-weight: 400;
    margin-bottom: 14px;  
  }

  &__border {
    border: 1px solid #00c6bf;
    width: 150px;
    margin: auto;
    margin-bottom: 13px;
  }

  &__desc {
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
  }
}