// Mobile
$mobileOnly: 767px;
$mobilePortraitOnly: 479px;
$mobilePortrait: 360px;
$mobileLandScape: 480px;

// Tablet
$tabletOnly: 992px;
$desktopOnly: 1023px;
$desktopWideOnly: 1279px;
$desktopWideLargeOnly: 1365px;
$desktopSupperWideOnly: 1439px;
$desktopSupperWideLargeOnly: 1919px;

// Desktop
$tablet: 993px;
$desktop: 1024px;
$desktopWide: 1280px;
$desktopWideLarge: 1366px;
$desktopSupperWide: 1440px;
$desktopSupperWideLarge: 1920px;

