.header {
  background: #b35b5b;
  img {
    color: white;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul.main-menu {
    display: inline-block;

    li {
      display: inline-block;
      padding: 10px 20px;
    }
  }
  .icon-search:before {
    content: "\e986";
  }
}