<div class="newsletter bg--yellow">
  <div class="container">
      <form id="newsletter">
        <h2 class="newsletter__title">Subscribe to our Newsletter</h2> 
        <input type='email' name='email' value='' placeholder='Enter your email address' /> 
        <button  class="btn btn--blue" type='submit' value='Subscribe' class='btn-submit'>Subscribe</button>
      </form>
    </div>
  </div>
</div>