<div class="services">
  <div class="container">
    <div class="box-title">
      <div class="box-title__symbol">
        <img src="../../../../../images/symbol.png">
      </div>
      <h2 class="box-title__title">We are Good at</h2>
      <h4 class="box-title__subtitle">SOME OF THEASE STUFF UNDER</h4>
      <div class="box-title__border"></div>
    </div>
    <div class="services__list">
      <div class="services__wrap">
        <div class="services__item">
          <img src="../../../../../images/services-1.png">
          <h5 class="services__title">Graphic Design</h5>
          <p class="services__desc">Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
        </div>
        <div class="services__item">
          <img src="../../../../../images/services-2.png">
          <h5 class="services__title">Web Design</h5>
          <p class="services__desc">Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
        </div>
        <div class="services__item">
          <img src="../../../../../images/services-3.png">
          <h5 class="services__title">App Design</h5>
          <p class="services__desc">Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
        </div>
      </div>
    </div>
  </div>
</div>