<div class="container">
  <p><a class="btn" href="#">Get start</a></p>
  <p><a class="btn btn--blue" href="#">Subscribe</a></p>
  <p><a class="btn btn--short" href="#">Login</a></p>
  <p><a class="btn btn--tab" href="#">Design</a></p>
  <p><a class="btn btn--long" href="#">graphberry@gmail.com</a></p>
</div>
