<div class="blog">
  <div class="container">
    <div class="box-title">
      <div class="box-title__symbol">
        <img src="../../../../../images/symbol.png">
      </div>
      <h2 class="box-title__title">Read Our Blog</h2>
      <h4 class="box-title__subtitle">NEW STORIES</h4>
      <div class="box-title__border"></div>
    </div>
    <div class="blog__list">
      <div class="blog__wrap">
        <div class="blog__item">
          <img src="https://picsum.photos/370/135">
          <div class="blog__date">January 17,2017</div>
          <div class="blog__title">Some Awesome Blog Title Here</div>
        </div>
        <div class="blog__item">
          <img src="https://picsum.photos/370/135">
          <div class="blog__date">January 17,2017</div>
          <div class="blog__title">Some Awesome Blog Title Here</div>
        </div>
        <div class="blog__item">
          <img src="https://picsum.photos/370/135">
          <div class="blog__date">January 17,2017</div>
          <div class="blog__title">Some Awesome Blog Title Here</div>
        </div>
      </div>
    </div>
    <div class="blog__link">
      <a class="btn btn--red" href="#">More stories</a> 
    </div>
  </div>
</div>
