<div class="team">
  <div class="container">
    <div class="box-title">
      <h2 class="box-title__title">We Make This</h2>
      <div class="box-title__desc box-title__desc--long">
        <p>Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Donec sollicitudin molestie malesuada.</p>
      </div>
    </div>
    <div class="team__list">
      <div class="team__wrap">
        <div class="team__item">
          <div class="team__image">
            <img src="../../../../../images/mem1.jpg" alt="">
          </div>
          <h4 class="team__name">Luke Skywalker</h4>
          <div class="team__motto"> 
            <p>“I don't understand how we got by those troops. I thought we were dead.“</p>
          </div>
        </div>
        <div class="team__item">
          <div class="team__image">
            <img src="../../../../../images/mem2.jpg" alt="">
          </div>
          <h4 class="team__name">Obi-Wan Kenobi</h4>
          <div class="team__motto"> 
            <p>“Your clones are very impressive. You must be very proud”</p>
          </div>
        </div>
        <div class="team__item">
          <div class="team__image">
            <img src="../../../../../images/mem3.jpg" alt="">
          </div>
          <h4 class="team__name">Princess Leia</h4>
          <div class="team__motto"> 
            <p> “I don't know who you are or where you came from, but from now on you'll do as I tell you, okay?” </p>
          </div>
        </div>
        <div class="team__item">
          <div class="team__image">
            <img src="../../../../../images/mem4.jpg" alt="">
          </div>
          <h4 class="team__name">Yoda</h4>
          <div class="team__motto"> 
            <p>“Do not assume anything Obi-Wan. Clear your mind must be if you are to discover the real villains behind this plot.” </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>